@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}
.fondo {
    background-color: #F4F6F6;
}

#img {

    width: 270px;
    height: 270px;
}
#tutulos{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
#text{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}
#b{
    text-align: right;
}
.span{
    width:100%;
}
/*Color modal*/
.modal-backdrop
{
    opacity:0.80 !important;
}
.modal-body
{
    background-color: transparent;
}


.modal-content
{
    
    overflow:hidden;
    border: 0px;
    background-color: transparent;
}
.modal-body
{
    background-color: transparent;
}

/*modal*/
.container-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.container-form{
    width: 80%;
    padding: 40px;
    background:#F4F6F6;
}
.title{
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    color: dodgerblue;
}
label{
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    color: black;
}

#email{
    width: 100%;
    background: rgba(0,0,0,0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.20);
    color: #008989;
    font-weight: 370;
    font-size: 16px;
}

input[type="text"]
{
    width: 100%;
    background: rgba(0,0,0,0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.20);
    color: #008989;
    font-weight: 370;
    font-size: 16px;
}

input[type="submit"]{
    width:100%;
    height: 50px;
    margin-top: 20px;
    color: white;
    border: 0px;
    background: linear-gradient(90deg, #096887, #008989);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}
input[type="submit"]:hover{
    background: linear-gradient(90deg, #008989,#096887);
}

.text-footer{
    display: block;
    margin-top: 100px;
    text-align: center;
    color: #7a7a7a;
    font-weight: 300;
}

.text-footer a{
    color: #029EE1;
    font-weight: 500;
}
/*lado derecho*/
.container-text{
    width: 100%;
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    padding: 40px;
    position: relative;
}
.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: linear-gradient(90deg, #096887, #008989);
    opacity: 0.8;
}

.title-description{
    position: relative;
    top: 80px;
    color: white;
    font-weight: 300;
    font-size: 40px;
}
.text-description{
    position: relative;
    top: 100px;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

/*responsive*/

@media screen and (max-width: 800px){
    .container-text{
        display: none;
    }
    .container-form{
        margin: auto;
        width: 100%;
        background: white;
    }
}
/*Boton*/
.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
.button.type1 {
  color: #008989;
}
.button.type1.type1::after, .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 3px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #008989;
  border-right-color: #008989;
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #096887;
  border-left-color: #096887;
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}